In [1]:
import pandas as pd

In [2]:
df = pd.read_json("trainmodel.json")

In [3]:
df.head()

,qId,answers,qText
0,wqr000001,[Padmé Amidala],what character did natalie portman play in sta...
1,wqr000002,[New York City],what state does selena gomez?
2,wqr000003,[Bahamas],what country is the grand bahama island in?
3,wqr000005,[Denethor II],what character did john noble play in lord of ...
4,wqr000006,[Chicago Bulls],who does joakim noah play for?

In [4]:
df["qId"] = "https://" + df["qId"] + ".co.jp"
df = df[["qText", "answers", "qId"]]
df.head()

,qText,answers,qId
0,what character did natalie portman play in sta...,[Padmé Amidala],https://wqr000001.co.jp
1,what state does selena gomez?,[New York City],https://wqr000002.co.jp
2,what country is the grand bahama island in?,[Bahamas],https://wqr000003.co.jp
3,what character did john noble play in lord of ...,[Denethor II],https://wqr000005.co.jp
4,who does joakim noah play for?,[Chicago Bulls],https://wqr000006.co.jp

In [6]:
df.to_csv("kendra-data.csv", index=False)