In [28]:
from datasets import Dataset
from ragas.metrics import (
    answer_relevancy,
    faithfulness,
    context_recall,
    context_precision,
    answer_correctness,
    answer_similarity   
)

import pandas as pd
import ragas

from dotenv import load_dotenv
load_dotenv()

True

In [26]:
df = pd.read_csv('data/kendra-data.csv').head()
df['qId'] = df['answers'].map(lambda x: eval(x))
df['ground_truth'] = df['answers']
df.columns = ['question', 'answer', 'contexts', 'ground_truth']
df.head()

,question,answer,contexts,ground_truth
0,what character did natalie portman play in sta...,['Padmé Amidala'],[Padmé Amidala],['Padmé Amidala']
1,what state does selena gomez?,['New York City'],[New York City],['New York City']
2,what country is the grand bahama island in?,['Bahamas'],[Bahamas],['Bahamas']
3,what character did john noble play in lord of ...,['Denethor II'],[Denethor II],['Denethor II']
4,who does joakim noah play for?,['Chicago Bulls'],[Chicago Bulls],['Chicago Bulls']

In [29]:
rag_eval_dataset = Dataset.from_pandas(df)
result = ragas.evaluate(
    rag_eval_dataset,
    metrics=[
        context_precision,
        faithfulness,
        answer_relevancy,
        context_recall,
        answer_correctness,
        answer_similarity
    ],
)

Evaluating: 100%|██████████| 30/30 [00:10<00:00,  2.95it/s]

In [30]:
result

{'context_precision': 0.8000, 'faithfulness': 0.2000, 'answer_relevancy': 0.7795, 'context_recall': 1.0000, 'answer_correctness': 1.0000, 'answer_similarity': 1.0000}